*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --white:#FFFFFF;
    --black:#000000;
}

body{
    background-image: url(imgs/whiteback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    width:100%;
    background-color: var(--black);
    height:8vh;
    display: flex;
}

#site{
    color:var(--white);
    font-size: 30px;
    align-self: center;
    padding-left: 4vw;
}


#globo{
    height:80%;
    float: right;
    align-self: center;
}

#tip{
    color: var(--white);
    font-size: 25px;
    width:fit-content;
    align-self: center;
    padding-left: 65vw;
    padding-right: 2vw;
}

#filtros{
    display: flex;
    margin-top: 2.5vw;
    font-size: 22px;
    padding-bottom: 8vw;
}

#filtrar{
    margin-left: 5vw;
    height: fit-content;
    background-color: black;
    padding:1vw;
    color: white;
}

#dropdown{
    list-style: none;
    
    z-index:18;
    
}
#dropdownContent{
    display:none;
    position: absolute;
}

#dropdown:hover #dropdownContent{
        display:flex;
        cursor:pointer;
        z-index:18;
}

#dropdownContent p{
    border-bottom: 1px solid black;
    padding: 3px;
    margin-left:20px;
    padding:5px;
}

#dropdownContent p:hover{
    background-color: #000000;
    color: white;
   
}

#dropdownContent p{
    margin-top: 10px;
}

.countries{
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
    
}


.country{
   margin:1.7vw;
   background-color: #e6e6e6;
   border:3px solid black;
   height: fit-content;
}

.country-info{
    padding:0.5vw;
    
}

#linkar{
    text-decoration: none;
    color: white;
}

#detalhes   {
    position: absolute;
   top:0;
   bottom:0;
   left:0;
   right: 0;
   overflow: hidden;
}

#goJogo{
    text-decoration: none;
    color:white;
    margin-left:50vw;
    margin-top:3vw;
    text-align: center;
    align-self: center;
    padding:11px;
    background-color: var(--black);
}

#goJogo:hover{
    background-color:var(--white);
    color:var(--black);
    border:2px solid black;
}

#atualContinente{
    
    width:100px;
    height:fit-content;
    text-align: center;
    padding-top: 10px;
}



 
 .overlay {
     
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    background-color: white; 
    background-color: white; 
    overflow-x: hidden; 
    transition: 0.5s; 
    background-image: url(/imgs/whiteback.jpg);
}
  
.overlay-content{
        display:flex;
}

#nomeCountry{
    font-size: 50px;
    margin-left:16vw;
    margin-top: 4vw;
    font-weight: lighter;
    width:20vw;
    
}

#imagem{
    margin-left: 16vw;
    margin-top: 3vw;
    border: 5px solid black;
}

#left{
    font-size:25px;
    font-weight: lighter;
}

#right{
    font-size:25px;
    font-weight: lighter;
}

#nomeCapital{
    margin-left:10vw;
    margin-top: 8vw;
    
}

#people{
    margin-left:10vw;
    margin-top: 3vw;
}

#regiao{
    margin-top: 3vw;
    margin-left: 10vw;
}

#linkMap{
    text-decoration: none;
    color:black;
}

#lat-long{
    margin-top:3vw ;
    margin-left: 10vw;
}
#tz{
    margin-top:3vw ;
    margin-left: 10vw;
}


#loc{
    margin-left:10vw;
    margin-top:3vw;
    
}

#subreg{
    margin-top:3vw ;
    margin-left: 10vw;
}
 
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } 


  @media only screen and (max-width: 1317px){
   
    #tip{
        padding-left:20vw;
    }
}

@media only screen and (max-width: 1254px){
        #filtros{
            display: block;
        }
        #filtrar{
            width:fit-content;
        }
        #dropdown{
            margin-left: 5vw;
            margin-bottom: 15vw;
        }
        #goJogo{
            margin-left:5vw;
            
        }
        
}