*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --white:#FFFFFF;
    --black:#000000;
}

body{
    background-image: url(imgs/whiteback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    width:100%;
    background-color: var(--black);
    height:8vh;
    display: flex;
}

#site{
    color:var(--white);
    font-size: 30px;
    align-self: center;
    padding-left: 4vw;
}


#globo{
    height:80%;
    float: right;
    align-self: center;
}

#tip{
    color: var(--white);
    font-size: 25px;
    width:fit-content;
    align-self: center;
    padding-left: 65vw;
    padding-right: 2vw;
}

#slogan{
    font-size:35px;
    text-align: center;
    padding-top: 1%;
}

#slider{
    height: 654px;
    background-image: url();
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#imageShow{
    border: 5px solid black;
    height:fit-content;
    width: fit-content;
    align-self: center;
    margin-left: 24%;
    margin-top:3%;
    display: flex;
   transition: 1s ease-in-out;
}

#monumento{
        text-align: center;
        font-size: 40px;
        margin-top:30%;
        margin-left:21%;
        background-color: #000000;
        color: #FFFFFF;
        height: fit-content;
        padding:1vw;
        border-radius: 10px;
}

#opçoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left:15%;
    margin-top:4%;
   
}

#opçoes div{
    margin-top:2.5vw;
    border: 2px solid black;
    padding:5px;
    font-size: 22px;
}

#opçoes div:hover{
   background-color: black;
   color:white;
}

#slide_tudo{
    display: flex;
}

#img_desc{
    display: flex;
    flex-direction: row;
    margin-left:1%;
    margin-top:2%;
}

.turismo{
    margin-bottom:20px;
    font-size: 18px;
    
}

.turismo:hover{
    border-bottom: 3px solid black;
    cursor:pointer;
}

#explore{
   background-color: black;
   height: fit-content;
   text-decoration: none;
   color: #FFFFFF;
   align-self: center;
   margin-left: 1%;
   font-size: 21px;
}

#imageShow:hover{
    transform:scale(1.8);
   
}

@media only screen and (max-width: 1317px){
    #slide_tudo{
        display: block;
    }

    #opçoes{
        margin-left:6%;
        margin-right: 6%;
    }
    #img_desc{
        display: block;
    }
    #monumento{
        margin-right: 15%;
        margin-left:15%;
        margin-bottom: 5%;
        margin-top:7%;
    }
    #imageShow{
        border:0px;
    }
    #destaque{
        margin-left: 5%;

    }
    #tip{
        padding-left:20vw;
    }
}

@media only screen and (max-width: 692px){
    #imageShow{
        border: 0px;
        
    }
    #destaque{
        height: auto;
        width:50vw;
        align-items: center;
    }

}